<%- include('header') -%>
  <div id="app"><%- initialMarkup -%></div>

  <script type="text/javascript">
    window.initialData = <%- JSON.stringify(initialData) -%>;
  </script>
<%- include('footer') -%>
